.modal-cover {
    background-color:rgba(255, 182, 193, 0.48);
    display: none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.modal-content{
    width: 900px;
    height: 100px;
    background-color: white;
    border-radius: 6px;
    margin:50px auto 0 auto;
}

.text{
    line-height: 50px;
}
